[submodule "Assets/Packages/Mural3"]
	path = Assets/Packages/Mural3
	url = https://github.com/nobnak/Mural3.git
[submodule "Assets/Packages/Gist"]
	path = Assets/Packages/Gist
	url = https://github.com/nobnak/Gist.git
[submodule "Assets/Packages/unity-osc"]
	path = Assets/Packages/unity-osc
	url = https://github.com/nobnak/unity-osc.git
[submodule "Assets/Packages/Gist2"]
	path = Assets/Packages/Gist2
	url = https://github.com/nobnak/Gist2.git
[submodule "Assets/Packages/RapidGUI"]
	path = Assets/Packages/RapidGUI
	url = https://github.com/fuqunaga/RapidGUI.git
